TY  - @virtual.mapConverter.coar2endnote.dc-type@
AU  - @virtual.authors@
TI  - @dc.title@
DA  - @dc.date.issued@
PB  - @dc.publisher@
T1  - @dc.relation.ispartof@
VL  - @oaire.citation.volume@
IS  - @oaire.citation.issue@
AB  - @dc.description.abstract@
KW  - @dc.subject@
UR  - @dc.identifier.uri@
DO  - @dc.identifier.doi@
SP  - @oaire.citation.startPage@
EP  - @oaire.citation.endPage@
LA  - @dc.language.iso@