<record>
    <controlfield tag="001">@virtual.id@</controlfield>
    @group.dc-identifier-patentno.start@
    <datafield tag="013" ind1=" " ind2=" ">
        <subfield code="a">@dc.identifier.patentno@</subfield>
        <subfield code="b">@oairecerif.patent.country@</subfield>
        <subfield code="c">@epfl.patent.kindcode@</subfield>
        <subfield code="d">@dc.date.issued@</subfield>
    </datafield>
    @group.dc-identifier-patentno.end@
    @group.dc-relation-isbn.start@
    <datafield tag="020" ind1=" " ind2=" ">
        <subfield code="a">@dc.relation.isbn@</subfield>
    </datafield>
    @group.dc-relation-isbn.end@
    @group.dc-relation-issn.start@
    <datafield tag="022" ind1=" " ind2=" ">
        <subfield code="a">@dc.relation.issn@</subfield>
    </datafield>
    @group.dc-relation-issn.end@
    @group.dc-identifier-doi.start@
    <datafield tag="024" ind1="7" ind2=" ">
        <subfield code="2">doi</subfield>
        <subfield code="a">@dc.identifier.doi@</subfield>
    </datafield>
    @group.dc-identifier-doi.end@
    @group.dc-identifier-arxiv.start@
    <datafield tag="024" ind1="7" ind2="0">
        <subfield code="a">@dc.identifier.arxiv@</subfield>
        <subfield code="2">ArXiv</subfield>
    </datafield>
    @group.dc-identifier-arxiv.end@
    @group.dc-identifier-isi.start@
    <datafield tag="024" ind1="7" ind2="0">
        <subfield code="a">@dc.identifier.isi@</subfield>
        <subfield code="2">isi</subfield>
    </datafield>
    @group.dc-identifier-isi.end@
    @group.dc-identifier-scopus.start@
    <datafield tag="024" ind1="/" ind2=" ">
        <subfield code="a">@dc.identifier.scopus@</subfield>
    </datafield>
    @group.dc-identifier-scopus.end@
    @group.dc-identifier-pmid.start@
    <datafield tag="024" ind1="/" ind2=" ">
        <subfield code="a">@dc.identifier.pmid@</subfield>
    </datafield>
    @group.dc-identifier-pmid.end@
    @group.dc-identifier-epo.start@
    <datafield tag="024" ind1="/" ind2=" ">
        <subfield code="a">@dc.identifier.epo@</subfield>
    </datafield>
    @group.dc-identifier-epo.end@
    @group.cris-legacyId.start@
    <datafield tag="035" ind1=" " ind2=" ">
        <subfield code="a">@cris.legacyId@</subfield>
    </datafield>
    @group.cris-legacyId.end@
    @if.metadata.epfl-legacy-submissionform.start@
    <datafield tag="037" ind1=" " ind2=" ">
        <subfield code="a">@epfl.legacy.submissionform@</subfield>
    </datafield>
    @if.metadata.epfl-legacy-submissionform.end@
    @group.dc-date-created.start@
    <datafield tag="039" ind1=" " ind2="9">
        <subfield code="y">@dc.date.created@</subfield>
        <subfield code="a">@dc.date.modified@</subfield>
    </datafield>
    @group.dc-date-created.end@
    @group.dc-language-iso.start@
    <datafield tag="041" ind1=" " ind2=" ">
        <subfield code="a">@dc.language.iso@</subfield>
    </datafield>
    @group.dc-language-iso.end@
    @group.epfl-thesis-number.start@
    <datafield tag="088" ind1=" " ind2=" ">
        <subfield code="a">@epfl.thesis.number@</subfield>
    </datafield>
    @group.epfl-thesis-number.end@
    @group.dc-title.start@
    <datafield tag="245" ind1=" " ind2=" ">
        <subfield code="a">@dc.title@</subfield>
    </datafield>
    @group.dc-title.end@
    @group.dc-description-version.start@
    <datafield tag="251" ind1=" " ind2=" ">
        <subfield code="a">@dc.description.version@</subfield>
    </datafield>
    @group.dc-description-version.end@
    @group.dc-date-issued.start@
    <datafield tag="260" ind1=" " ind2=" ">
        <subfield code="a">@dc.publisher.place@</subfield>
        <subfield code="b">@dc.publisher@</subfield>
        <subfield code="c">@dc.date.issued@</subfield>
    </datafield>
    @group.dc-date-issued.end@
    @group.dc-date-issued.start@
    <datafield tag="269" ind1=" " ind2=" ">
        <subfield code="a">@virtual.date.dc-date-issued.YYYY@</subfield>
    </datafield>
    @group.dc-date-issued.end@
    <datafield tag="300" ind1=" " ind2=" ">
        <subfield code="a">@dc.size@</subfield>
        <subfield code="c">@dc.format.extent@</subfield>
    </datafield>
    @group.dc-type.start@
    <datafield tag="336" ind1=" " ind2=" ">
        <subfield code="a">@virtual.mapConverter.dcTypes.dc-type@</subfield>
        <subfield code="c">@epfl.datatype@</subfield>
    </datafield>
    @group.dc-type.end@
    @group.dc-description.start@
    <datafield tag="340" ind1=" " ind2=" ">
        <subfield code="a">@dc.description@</subfield>
    </datafield>
    @group.dc-description.end@
    @if.metadata.dc-relation-ispartofseries.start@
    <datafield tag="490" ind1=" " ind2=" ">
        <subfield code="a">@dc.relation.ispartofseries@</subfield>
    </datafield>
    @if.metadata.dc-relation-ispartofseries.end@
    @group.dc-description.start@
    <datafield tag="500" ind1=" " ind2=" ">
        <subfield code="a">@dc.description@</subfield>
    </datafield>
    @group.dc-description.end@
    @group.epfl-thesis-jury.start@
    <datafield tag="502" ind1=" " ind2=" ">
        <subfield code="a">@epfl.thesis.jury@</subfield>
    </datafield>
    @group.epfl-thesis-jury.end@
    @group.dc-description-abstract.start@
    <datafield tag="520" ind1=" " ind2=" ">
        <subfield code="a">@dc.description.abstract@</subfield>
    </datafield>
    @group.dc-description-abstract.end@
    @group.oairecerif-funder.start@
    <datafield tag="536" ind1=" " ind2=" ">
        <subfield code="a">@oairecerif.funder@</subfield>
        <subfield code="c">@oairecerif.funder.identifier@</subfield>
    </datafield>
    @group.oairecerif-funder.end@
    <datafield tag="542" ind1=" " ind2=" ">
        <subfield code="a">@oairecerif.funder@</subfield>
        <subfield code="c">@oairecerif.funder.identifier@</subfield>
    </datafield>
    @group.epfl-award.start@
    <datafield tag="586" ind1=" " ind2=" ">
        <subfield code="a">@epfl.award@</subfield>
        <subfield code="b">@epfl.award.date@</subfield>
    </datafield>
    @group.epfl-award.end@
    @group.dc-subject.start@
    <datafield tag="653" ind1="1" ind2=" ">
        <subfield code="a">@dc.subject@</subfield>
    </datafield>
    @group.dc-subject.end@
    @group.dc-contributor-author.start@
    <datafield tag="700" ind1=" " ind2=" ">
        <subfield code="0">@epfl.legacy.contributorauthnum@</subfield>
        <subfield code="a">@dc.contributor.author@</subfield>
        <subfield code="g">@virtual.sciperId.dc-contributor-author@</subfield>
    </datafield>
    @group.dc-contributor-author.end@
    @group.dc-contributor.start@
    <datafield tag="710" ind1=" " ind2=" ">
        <subfield code="a">@dc.contributor@</subfield>
    </datafield>
    @group.dc-contributor.end@
    @group.dc-relation-conference.start@
    <datafield tag="711" ind1="2" ind2=" ">
        <subfield code="a">@dc.relation.conference@</subfield>
        <subfield code="c">@oaire.citation.conferencePlace@</subfield>
        <subfield code="d">@oaire.citation.conferenceDate@</subfield>
    </datafield>
    @group.dc-relation-conference.end@
    @group.dc-contributor-scientificeditor.start@
    <datafield tag="720" ind1=" " ind2="1">
        <subfield code="0">@epfl.legacy.contributoradvisornum@</subfield>
        <subfield code="a">@dc.contributor.scientificeditor@</subfield>
        <subfield code="g">@virtual.sciperId.dc-contributor-scientificeditor@</subfield>
    </datafield>
    @group.dc-contributor-scientificeditor.end@
    @group.dc-contributor-advisor.start@
    <datafield tag="720" ind1=" " ind2="2">
        <subfield code="0">@epfl.legacy.contributorscientificeditornum@</subfield>
        <subfield code="a">@dc.contributor.advisor@</subfield>
        <subfield code="g">@virtual.sciperId.dc-contributor-advisor@</subfield>
    </datafield>
    @group.dc-contributor-advisor.end@
    @group.dc-identifier-stadardno.start@
    <datafield tag="740" ind1=" " ind2=" ">
        <subfield code="a">@dc.identifier.stadardno@</subfield>
    </datafield>
    @group.dc-identifier-stadardno.end@
    @if.metadata.dc-relation-ispartof.start@
    <datafield tag="773" ind1=" " ind2=" ">
        @if.metadata.epfl-part-name.start@
            <subfield code="e">@epfl.part.name@</subfield>
            <subfield code="f">@epfl.part.number@</subfield>
        @if.metadata.epfl-part-name.end@
        <subfield code="j">@oaire.citation.volume@</subfield>
        <subfield code="k">@oaire.citation.issue@</subfield>        
        <subfield code="s">@epfl.part.section@</subfield>
        <subfield code="t">@dc.relation.ispartof@</subfield>
        @if.metadata.oaire-citation-endPage.start@
            <subfield code="q">@virtual.fullpage@</subfield>
        @if.metadata.oaire-citation-endPage.end@
    </datafield>
    @if.metadata.dc-relation-ispartof.end@
    @if.metadata.dc-relation-journal.start@
    <datafield tag="773" ind1=" " ind2=" ">
        <subfield code="j">@oaire.citation.volume@</subfield>
        <subfield code="k">@oaire.citation.issue@</subfield>        
        <subfield code="t">@dc.relation.journal@</subfield>
        <subfield code="q">@oaire.citation.articlenumber@</subfield>
        @if.metadata.oaire-citation-startPage.start@
            <subfield code="q">@virtual.fullpage@</subfield>
        @if.metadata.oaire-citation-startPage.end@
    </datafield>
    @if.metadata.dc-relation-journal.end@
    @if.metadata.dc-relation-publication.start@
    <datafield tag="787" ind1=" " ind2=" ">
        <subfield code="e">@epfl.relationpublication.type@</subfield>
        <subfield code="w">@dc.relation.publication@</subfield>
    </datafield>
    @if.metadata.dc-relation-publication.end@
    @if.metadata.dc-relation-product.start@
    <datafield tag="790" ind1=" " ind2=" ">
        <subfield code="2">@epfl.relationproduct.type@</subfield>
        <subfield code="w">@virtual.item-ui-url@</subfield>
    </datafield>
    @if.metadata.dc-relation-product.end@
    @if.metadata.epfl-lastmodified-email.start@
    <datafield tag="856" ind1="0" ind2=" ">
        <subfield code="f">@epfl.lastmodified.email@</subfield>
    </datafield>
    @if.metadata.epfl-lastmodified-email.end@
    @group.bundle-original.start@
    <datafield tag="856" ind1="4" ind2=" ">
        <subfield code="0">@virtual.bitstreamData.original.metadata.dc-type@</subfield>
        <subfield code="s">@virtual.bitstreamData.original.data.sizeBytes@</subfield>
        <subfield code="u">@virtual.bitstreamData.original.download-path@</subfield>
        <subfield code="e">@virtual.bitstreamData.original.metadata.datacite-rights@</subfield>
        <subfield code="1">@virtual.bitstreamData.original.metadata.oaire-licenseCondition@</subfield>
        <subfield code="y">@virtual.bitstreamData.original.metadata.dc-description@</subfield>
        <subfield code="z">@virtual.bitstreamData.original.metadata.dc-file-type@</subfield>
    </datafield>
    @group.bundle-original.end@
    @group.bundle-thumbnail.start@
    <datafield tag="856" ind1="4" ind2="2">
        <subfield code="0">@virtual.bitstreamData.thumbnail.metadata.dc-description@</subfield>
        <subfield code="u">@virtual.bitstreamData.thumbnail.download-path@</subfield>
    </datafield>
    @group.bundle-thumbnail.end@
    @group.epfl-url.start@
    <datafield tag="856" ind1="4" ind2="1">
        <subfield code="u">@epfl.url@</subfield>
        @if.metadata.epfl-url-description.start@
            <subfield code="y">@epfl.url.description@</subfield>
        @if.metadata.epfl-url-description.end@
    </datafield>
    @group.epfl-url.end@
    @relation.dc-description-sponsorship.start@
    <datafield tag="909" ind1="C" ind2="0">
            <subfield code="p">@oairecerif.acronym@</subfield>
            <subfield code="x">U@virtual.epfl-unit-code@</subfield>
            <subfield code="m">@crisou.director@</subfield>
            <subfield code="0">@virtual.id@</subfield>
    </datafield>
    @relation.dc-description-sponsorship.end@
    @if.metadata.epfl-oai-currentset.start@
    <datafield tag="909" ind1="C" ind2="O">
            <subfield code="p">@epfl.oai.currentset@</subfield>
            <subfield code="o">@dspace.legacy.oai-identifier@</subfield>
    </datafield>
    @if.metadata.epfl-oai-currentset.end@
    @group.epfl-thesis-faculty.start@
    <datafield tag="918" ind1=" " ind2=" ">
            <subfield code="a">@epfl.thesis.faculty@</subfield>
            <subfield code="b">@epfl.thesis.section@</subfield>
            <subfield code="c">@epfl.thesis.institute@</subfield>
            <subfield code="d">@epfl.thesis.doctoralSchool@</subfield>
    </datafield>
    @group.epfl-thesis-faculty.end@
    @group.epfl-thesis-originalUnit.start@
    <datafield tag="919" ind1=" " ind2=" ">
            <subfield code="a">@epfl.thesis.originalUnit@</subfield>
    </datafield>
    @group.epfl-thesis-originalUnit.end@
    @group.epfl-thesis-publicDefenseYear.start@
    <datafield tag="920" ind1=" " ind2=" ">
            <subfield code="a">@epfl.thesis.publicDefenseYear@</subfield>
            <subfield code="b">@dc.date.accepted@</subfield>
    </datafield>
    @group.epfl-thesis-publicDefenseYear.end@
    @group.dc-audience.start@
    <datafield tag="954" ind1=" " ind2=" ">
            <subfield code="a">@dc.audience@</subfield>
    </datafield>
    @group.dc-audience.end@
    @group.epfl-curator-email.start@
    <datafield tag="961" ind1=" " ind2=" ">
            <subfield code="a">@epfl.curator.email@</subfield>
    </datafield>
    @group.epfl-curator-email.end@
    @group.epfl-writtenAt.start@
    <datafield tag="973" ind1=" " ind2=" ">
            <subfield code="a">@epfl.writtenAt@</subfield>
            <subfield code="r">@epfl.peerreviewed@</subfield>
            <subfield code="s">@oaire.version@</subfield>
    </datafield>
    @group.epfl-writtenAt.end@
    @group.datacite-geoLocation.start@
    <datafield tag="975" ind1=" " ind2=" ">
            <subfield code="a">@datacite.geoLocation@</subfield>
    </datafield>
    @group.datacite-geoLocation.end@
    @group.dc-source.start@
    <datafield tag="980" ind1=" " ind2=" ">
            <subfield code="a">@dc.source@</subfield>
            <subfield code="b">@epfl.thesis.degreelevel@</subfield>
            <subfield code="c">approved</subfield>
    </datafield>
    @group.dc-source.end@
</record>
