Title = dc.title
Subtitle = dc.title.alternative
Type = virtual.mapConverter.coarTypes.dc-type
Language = dc.language.iso
Publication date = dc.date.issued
Publication Year = virtual.date.dc-date-issued.YYYY
Approval date = dcterms.dateAccepted
Subjects = dc.subject
Part of = dc.relation.publication
Journal or Serie = dc.relation.ispartof
ISBN (of the container) = dc.relation.isbn
ISSN (of the container) = dc.relation.issn
DOI (of the container) = dc.relation.doi
Publisher = dc.publisher
DOI = dc.identifier.doi
ISBN = dc.identifier.isbn
ISSN = dc.identifier.issn
URL = dc.identifier.uri
ISI-Number = dc.identifier.isi
SCP-Number = dc.identifier.scopus
Volume = oaire.citation.volume
Issue = oaire.citation.issue
Start page = oaire.citation.startPage
End page = oaire.citation.endPage
Authors = group.dc-contributor-author
Editors = group.dc-contributor-editor
Description = dc.description.abstract
Other Description =  @dc.description@
Conference = dc.relation.conference
Product = dc.relation.product
Version = dc.description.version
License = virtual.mapConverter.right2licenseUrl.oaire-licenseCondition
Rights = virtual.mapConverter.right2conceptUrl.datacite-rights
Patent number = dc.identifier.patentno
Holder(s) = dcterms.rightsHolder
Predecessor(s) = dc.relation.patent
Reference(s) = dc.relation.reference