<?xml version='1.0' encoding='utf-8'?>
<resource xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:dcterms="http://purl.org/dc/terms/"
  xmlns:datacite="http://datacite.org/schema/kernel-4"
  xmlns="http://namespace.openaire.eu/schema/oaire/"
  xsi:schemaLocation="http://namespace.openaire.eu/schema/oaire/ https://www.openaire.eu/schema/repo-lit/4.0/openaire.xsd">
  @if.metadata.dc-identifier-doi.start@
  <datacite:identifier identifierType="DOI">@virtual.primary-doi.dc-identifier-doi@</datacite:identifier>
  @if.metadata.dc-identifier-doi.end@
  @if.not.metadata.dc-identifier-doi.start@
  <datacite:identifier identifierType="Handle">@virtual.handle@</datacite:identifier>
  @if.not.metadata.dc-identifier-doi.end@
  <datacite:creators>
      @group.dc-contributor-author.start@
        <datacite:creator>
            <datacite:creatorName>@dc.contributor.author@</datacite:creatorName>
            @relation.dc-contributor-author.start@
            <datacite:nameIdentifier nameIdentifierScheme="Scopus Author ID">@person.identifier.scopus-author-id@</datacite:nameIdentifier>
            <datacite:nameIdentifier nameIdentifierScheme="ORCID" schemeURI="http://orcid.org/">@person.identifier.orcid@</datacite:nameIdentifier>
            <datacite:nameIdentifier nameIdentifierScheme="RID">@person.identifier.rid@</datacite:nameIdentifier>
            @relation.dc-contributor-author.end@
            @relation.oairecerif-author-affiliation.start@
            <datacite:affiliation
                affiliationIdentifier="@organization.identifier.ror@" affiliationIdentifierScheme="ROR"
            >@virtual.uniqueTitle@</datacite:affiliation>
            @relation.oairecerif-author-affiliation.end@
            @if.not.authority.oairecerif-author-affiliation.start@
            <datacite:affiliation>@oairecerif.author.affiliation@</datacite:affiliation>
            @if.not.authority.oairecerif-author-affiliation.end@
      </datacite:creator>
         @group.dc-contributor-author.end@
    </datacite:creators>
  <datacite:titles>
    <datacite:title>@dc.title@</datacite:title>
  </datacite:titles>
  <dc:publisher>@virtual.publisher-with-place@</dc:publisher>
  @if.metadata.dc-subject.start@
  <datacite:subjects>
    <datacite:subject>@dc.subject@</datacite:subject>
  </datacite:subjects>
  @if.metadata.dc-subject.end@
  <datacite:dates>
    <datacite:date dateType="Issued">@dc.date.issued@</datacite:date>
    @if.metadata.datacite-available.start@
    <datacite:date dateType="Available">@datacite.available@</datacite:date>
    @if.metadata.datacite-available.end@
    @if.not.metadata.datacite-available.start@
    <datacite:date dateType="Available">@dc.date.available@</datacite:date>
    @if.not.metadata.datacite-available.end@
  </datacite:dates>
  <dc:language>@virtual.mapConverter.isolanguage2to3.dc-language-iso@</dc:language>
  @if.metadata.dc-type.start@
  <resourceType 
    resourceTypeGeneral="@virtual.mapConverter.type2oaiopenaire.dc-type@"
    uri="@virtual.mapConverter.type2oaiopenaireuri.dc-type@">
  @virtual.mapConverter.type2oaiopenairelabel.dc-type@
  </resourceType>
  @if.metadata.dc-type.end@
  @if.not.metadata.dc-type.start@
  <resourceType resourceTypeGeneral="other research product" uri="http://purl.org/coar/resource_type/c_1843">
  other
  </resourceType>
  @if.not.metadata.dc-type.end@
  <datacite:alternateIdentifiers>
    <datacite:alternateIdentifier alternateIdentifierType="doi">@virtual.alternative-doi.dc-identifier-doi@</datacite:alternateIdentifier>
    <datacite:alternateIdentifier alternateIdentifierType="isbn">@dc.identifier.isbn@</datacite:alternateIdentifier>
    <datacite:alternateIdentifier alternateIdentifierType="issn">@dc.identifier.issn@</datacite:alternateIdentifier>
    <datacite:alternateIdentifier alternateIdentifierType="WOS">@dc.identifier.isi@</datacite:alternateIdentifier>
    <datacite:alternateIdentifier alternateIdentifierType="arXiv">@dc.identifier.arxiv@</datacite:alternateIdentifier>
    <datacite:alternateIdentifier alternateIdentifierType="PMID">@dc.identifier.pmid@</datacite:alternateIdentifier>
  </datacite:alternateIdentifiers>
  <version>@dc.description.version@</version>
  @if.not.metadata.dc-description-version.start@>
  <version uri="@oaire.version@">
  @virtual.mapConverter.oaireversionuri2label.oaire-version@</version>
  @if.not.metadata.dc-description-version.end@>
  <citationConferenceDate>@oaire.citation.conferenceDate@</citationConferenceDate>
  <citationTitle>@dc.relation.journal@</citationTitle>
  <citationTitle>@dc.relation.ispartof@</citationTitle>
  <citationTitle>@dc.relation.conference@</citationTitle>
  <citationTitle>@dc.relation.ispartofseries@</citationTitle>
  <citationVolume>@oaire.citation.volume@</citationVolume>
  <citationIssue>@oaire.citation.issue@</citationIssue>
  <citationStartPage>@oaire.citation.startPage@</citationStartPage>
  <citationEndPage>@oaire.citation.endPage@</citationEndPage>
  <datacite:relatedIdentifiers>
    <datacite:relatedIdentifier relatedIdentifierType="ISSN" relationType="IsPartOf">@dc.relation.issn@</datacite:relatedIdentifier>
    @group.datacite-relatedIdentifier.start@
    <datacite:relatedIdentifier relatedIdentifierType="ISSN" relationType="IsPartOf">@dc.relation.serieissn@</datacite:relatedIdentifier>
    <datacite:relatedIdentifier relatedIdentifierType="URL"
      relationType="@datacite.relationType@"
      >
      @datacite.relatedIdentifier@
    </datacite:relatedIdentifier>
    @group.datacite-relatedIdentifier.end@
  </datacite:relatedIdentifiers>
  <datacite:rights rightsURI="@virtual.mapConverter.right2conceptUrl.datacite-rights@">
        @virtual.mapConverter.right2openairelabel.datacite-rights@</datacite:rights>
  <dc:description>@dc.description.abstract@</dc:description>
  <dc:description>@dc.description@</dc:description>
  @if.metadata.oairecerif-funder.start@
  <fundingReferences>
  @group.oairecerif-funder.start@
   <fundingReference>
    <funderName>@oairecerif.funder@</funderName>
    @if.metadata.dc-relation-grantno.start@
    <awardNumber 
      awardURI="@crisfund.award.uri@"
      >@dc.relation.grantno@</awardNumber>
    @if.metadata.dc-relation-grantno.end@
    <awardTitle>@dc.relation.funding@</awardTitle>
   </fundingReference>
  @group.oairecerif-funder.end@
  </fundingReferences>
  @if.metadata.oairecerif-funder.end@
  @group.bundle-original.start@
  <file mimeType="@virtual.bitstreamData.original.data.mimeType@"> 
    @virtual.bitstreamData.original.download-path@
  </file>
  @group.bundle-original.end@
</resource>