Title = dc.title
Subtitle = dc.title.alternative
Type = virtual.mapConverter.coarTypes.dc-type
DOI = dc.identifier.doi
ISBN = dc.identifier.isbn
ISSN = dc.identifier.issn
URL = dc.identifier.uri
ISI-Number = dc.identifier.isi
SCP-Number = dc.identifier.scopus
PMID = dc.identifier.pmid
ARXIV = dc.identifier.arxiv
EPO-Number = dc.identifier.epo
PatentNumber = dc.identifier.patentno
ReportNumber =  dc.identifier.reportno
StandardNumber = dc.identifier.standardno
Language = dc.language.iso
Publication date = dc.date.issued
Publication Year = virtual.date.dc-date-issued.YYYY
Approval date = dcterms.dateAccepted
Subjects = dc.subject
Part of = dc.relation.ispartof
Journal = dc.relation.journal
Volume = oaire.citation.volume
Issue = oaire.citation.issue
Start page = oaire.citation.startPage
End page = oaire.citation.endPage
ArticleNumber = oaire.citation.articlenumber
ISBN (of the container) = dc.relation.isbn
ISSN (of the container) = dc.relation.issn
DOI (of the container) = dc.relation.doi
Publisher = dc.publisher
PublisherPlace = dc.publisher.place
Authors = group.dc-contributor-author
Editors = group.dc-contributor-scientificeditor
Advisors = group.epfl-contributor-advisor
Abstract = dc.description.abstract
Description =  dc.description
Notes = dc.description.notes
IsProducedAtEpfl = virtual.mapConverter.writtenAtEpfl.epfl-writtenAt
Reviewed = epfl.peerreviewed
Status = oaire.version
Version = dc.description.version
Conference = dc.relation.conference
ConferencePlace = oaire.citation.conferencePlace
ConferenceDate = oaire.citation.conferenceDate
ThesisWorkType = epfl.thesis.degreelevel
ThesisNumber = epfl.thesis.number
Faculty = epfl.thesis.faculty
Section = epfl.thesis.section
Institute = epfl.thesis.institute
DoctoralSchool = epfl.thesis.doctoralSchool
EPFLUnit = epfl.thesis.originalUnit
Product = dc.relation.product
Version = dc.description.version
License = virtual.mapConverter.right2licenseUrl.oaire-licenseCondition
Rights = virtual.mapConverter.right2conceptUrl.datacite-rights
Holder(s) = dcterms.rightsHolder
Funding(s) = dc.relation.funding
Predecessor(s) = dc.relation.patent
Reference(s) = dc.relation.reference