{
  "Type": "@dc.type@",
	"Title": "@dc.title@",
	"Isbn": "@dc.relation.isbn@",
	"Doi": "@dc.identifier.doi@",
	"DoiType": "doi",
	"Language": "@dc.language.iso@",
	"Year": "@dc.date.issued@",
	"Notes": "@dc.description.notes@",
	"Abstract": "@dc.description.abstract@",
	"Keywords":[
	    "@dc.subject@",
	    ],
	"IsProducedAtEpfl": "@virtual.mapConverter.writtenAtEpfl.epfl-writtenAt@",
	"Reviewed": "@epfl.peerreviewed@",
	"Status": "@oaire.version@",
	"Distribution": {
	  "Place": "@dc.publisher.place@",
	  "Publisher": "@dc.publisher@",
	  "Year": "@dc.date.issued@",
	},
	"Series": {
	  "Name": "@dc.relation.ispartofseries@",
	},
	"Host": {
	@if.metadata.dc-relation-ispartof.start@
	  "Name": "@dc.relation.ispartof@",
	@if.metadata.dc-relation-ispartof.end@
	@if.metadata.dc-relation-journal.start@
      "JournalName": "@dc.relation.journal@",
      "Articlenumber": "@oaire.citation.articlenumber@",
    @if.metadata.dc-relation-journal.end@
    @if.metadata.oaire-citation-startPage.start@
	  "Pages": "@virtual.fullpage@",
    @if.metadata.oaire-citation-startPage.end@
	  "Num": "@oaire.citation.issue@",
	  "Vol": "@oaire.citation.volume@",
	  @if.metadata.dc-relation-issn.start@
	  "Issn": [
	      "@dc.relation.issn@",
	      ],
	  @if.metadata.dc-relation-issn.end@
	  "Isbn": "@dc.relation.isbn@",
	},
	"Persons": [
	@group.dc-contributor-author.start@
    {
      "Name": "@dc.contributor.author@",
      "Orcid": "@virtual.orcid.dc-contributor-author@",
      "Sciper": "@virtual.sciperId.dc-contributor-author@",
      "Affiliation": "@oairecerif.author.affiliation@"
    },
    @group.dc-contributor-author.end@
	],
	"Editors": [
    @group.dc-contributor-scientificeditor.start@
    {
      "Name": "@dc.contributor.scientificeditor@",
      "Orcid": "@virtual.orcid.dc-contributor-scientificeditor@",
      "Sciper": "@virtual.sciperId.dc-contributor-scientificeditor@",
      "Affiliation": "@oairecerif.scientificeditor.affiliation@"
    },
    @group.dc-contributor-editor.end@
    @group.epfl-contributor-advisor.start@
    {
      "Name": "@epfl.contributor.advisor@",
      "Orcid": "@person.identifier.orcid@",
      "Sciper": "@virtual.sciperId.dc-contributor-advisor@",
      "Affiliation": "@oairecerif.advisor.affiliation@"
    },
    @group.epfl-contributor-advisor.end@
  ],
	"Meeting": {
	  "Name": "@dc.relation.conference@",
	  "Place": "@oaire.citation.conferencePlace@",
	  "Date": "@oaire.citation.conferenceDate@",
	},
	"Units": [
	@relation.dc-description-sponsorship.start@
	    {
	        "unit": "@virtual.uniqueTitle@",
	        "unit-acronym": "@virtual.uniqueAcronym@",
	        "unit-code": "@epfl.unit.code@",
	        "unit-authid": "@virtual.id@"
	    },
	@relation.dc-description-sponsorship.end@
	],
	"Resources": [
	  @group.bundle-original.start@
	  {
	    "Url": "@virtual.bitstreamData.original.download-path@",
	    "Description": "@virtual.bitstreamData.original.metadata.dc-file-type@",
	    "Version": "@virtual.bitstreamData.original.metadata.oaire-version@",
	    "Licence": "@virtual.bitstreamData.original.metadata.oaire-licenseCondition@",
	  },
	  @group.bundle-original.end@
	],
	"WorkType": "@epfl.thesis.degreelevel@",
	"ThesisNo": "@epfl.thesis.number@",
	"Faculty": "@epfl.thesis.faculty@",
	"Section": "@epfl.thesis.section@",
	"Institute": "@epfl.thesis.institute@",
	"DoctoralSchool": "@epfl.thesis.doctoralSchool@",
	"Unit": "@epfl.thesis.originalUnit@",
	"ThesisYear": "@dc.date.accepted@",
}