##############################
##### EPFL Configuration #####
##############################

epfl.orgunit-import.api-url = https://search-api.epfl.ch/api/unit
epfl.person-import.api-url = https://search-api.epfl.ch/api/ldap
epfl.personal-picture.url = https://people.epfl.ch/%s/photo

epfl.orgunit-import.metadata-field-language.english = en
epfl.orgunit-import.metadata-field-language.french = fr

#######################
### OrgUnit Import ####
#######################

epfl.orgunit-import.active-orgunit.acronym-header = unit_acronym
epfl.orgunit-import.inactive-orgunit.acronym-header = units_acro

epfl.orgunit-import.active-metadata-field = epfl.orgUnit.active

### Mapping between inactive orgunit headers and metadata fields
epfl.orgunit-import.inactive-orgunit.metadata.units_acro = oairecerif.acronym
epfl.orgunit-import.inactive-orgunit.metadata.infoscience_auth_num = cris.legacyId
epfl.orgunit-import.inactive-orgunit.metadata.infoscience_unit_code = epfl.unit.infoscienceCode
epfl.orgunit-import.inactive-orgunit.metadata.unit_code = epfl.unit.code
epfl.orgunit-import.inactive-orgunit.metadata.unit_name = dc.title
epfl.orgunit-import.inactive-orgunit.metadata.unit_url = oairecerif.identifier.url
epfl.orgunit-import.inactive-orgunit.metadata.unit_status = epfl.orgUnit.status
epfl.orgunit-import.inactive-orgunit.metadata.units_type = dc.type

### Mapping between head of inactive orgunit and metadata field value/authority
epfl.orgunit-import.inactive-orgunit.head.metadata = crisou.director
epfl.orgunit-import.inactive-orgunit.head.authority = will be generated::SCIPER-ID::
epfl.orgunit-import.inactive-orgunit.head.sciper-id = head_sciperid
epfl.orgunit-import.inactive-orgunit.head.first-name = head_firstname
epfl.orgunit-import.inactive-orgunit.head.last-name = head_lastname

### Mapping between parent orgunit of inactive orgunit and metadata field value/authority
epfl.orgunit-import.inactive-orgunit.parent-orgunit.metadata = organization.parentOrganization
epfl.orgunit-import.inactive-orgunit.parent-orgunit.authority = ACRONYM::
epfl.orgunit-import.inactive-orgunit.parent-orgunit.acronym = unit_parent_acronym

### Mapping between inactive orgunit headers and metadata fields
epfl.orgunit-import.active-orgunit.metadata.infoscience_auth_num = cris.legacyId
epfl.orgunit-import.active-orgunit.metadata.infoscience_unit_code = epfl.unit.infoscienceCode

## Mapping between active orgunits attributes incoming from API and metadata fields
epfl.orgunit-import.api.metadata-field.name = dc.title
epfl.orgunit-import.api.metadata-field.acronym = oairecerif.acronym
epfl.orgunit-import.api.metadata-field.code = epfl.unit.code
epfl.orgunit-import.api.metadata-field.level = epfl.orgUnit.level
epfl.orgunit-import.api.metadata-field.head = crisou.director
epfl.orgunit-import.api.metadata-field.head.authority = will be generated::SCIPER-ID::
epfl.orgunit-import.api.metadata-field.parent-orgunit = organization.parentOrganization
epfl.orgunit-import.api.metadata-field.parent-orgunit.authority = ACRONYM::

######################
### Person Import ####
######################

epfl.person-import.api.metadata-field.name = dc.title
epfl.person-import.api.metadata-field.first-name = person.givenName
epfl.person-import.api.metadata-field.last-name = person.familyName
epfl.person-import.api.metadata-field.email = person.email
epfl.person-import.api.metadata-field.affiliation.position = oairecerif.affiliation.role
epfl.person-import.api.metadata-field.affiliation.orgunit = oairecerif.person.affiliation
epfl.person-import.api.metadata-field.affiliation.main = person.affiliation.name
epfl.person-import.api.metadata-field.affiliation.authority = ACRONYM::
epfl.person-import.api.metadata-field.affiliation.start = oairecerif.affiliation.startDate
epfl.person-import.api.metadata-field.affiliation.end = oairecerif.affiliation.endDate
epfl.person-import.api.metadata-field.url = oairecerif.identifier.url
epfl.person-import.api.metadata-field.active = epfl.sciper.active
epfl.person-import.api.metadata-field.sciper = epfl.sciperId

epfl.authority.prefix = will be generated::SCIPER-ID::
epfl.acronym.prefix = ::will be generated::ACRONYM::
epfl.issn.prefix = will be generated::ISSN::

#############################
#### Publication Import #####
#############################

epfl.items-import.mapping-configuration.path = ${dspace.dir}/config/crosswalks/epfl/epfl-items-mapping.xml

epfl.items-import.types.journal-article = ./datafield[@tag = '336']/subfield[@code = 'a'] = 'Journal Articles' and (( ./datafield[@tag = '973']/subfield[@code = 'r'] = 'NON-REVIEWED' and not(./datafield[@tag = '024' and @ind1 = '7']/subfield[@code = '2'] = 'doi')) and not( ./datafield[@tag = '973']/subfield[@code = 's'] = 'SUBMITTED')) and not(./datafield[@tag = '245']/subfield[@code = 'a'] = 'Editorial')
epfl.items-import.types.research-article = ./datafield[@tag = '336']/subfield[@code = 'a'] = 'Journal Articles' and (( ./datafield[@tag = '973']/subfield[@code = 'r'] = 'REVIEWED' or ./datafield[@tag = '024' and @ind1 = '7']/subfield[@code = '2'] = 'doi') and not( ./datafield[@tag = '973']/subfield[@code = 's'] = 'SUBMITTED')) and not(./datafield[@tag = '245']/subfield[@code = 'a'] = 'Editorial')
epfl.items-import.types.review-article = ./datafield[@tag = '336']/subfield[@code = 'a'] = 'Reviews'
epfl.items-import.types.editorial = ./datafield[@tag = '336']/subfield[@code = 'a'] = 'Journal Articles' and ./datafield[@tag = '245']/subfield[@code = 'a'] = 'Editorial' 
epfl.items-import.types.book-monograph = ./datafield[@tag = '336']/subfield[@code = 'a'] = 'Books'
epfl.items-import.types.book-part = ./datafield[@tag = '336']/subfield[@code = 'a'] = 'Book Chapters'
epfl.items-import.types.conference-proceedings = ./datafield[@tag = '336']/subfield[@code = 'a'] = 'Conference Proceedings'
epfl.items-import.types.conference-paper = ./datafield[@tag = '336']/subfield[@code = 'a'] = 'Conference Papers' and (string-length(./datafield[@tag = '336' and @ind1 = '2']/subfield[@code = 'a']) > 0 or string-length(./datafield[@tag = '773']/subfield[@code = 't']) > 0 or string-length(./datafield[@tag = '490']/subfield[@code = 'a']) > 0)
epfl.items-import.types.conference-poster = ./datafield[@tag = '336']/subfield[@code = 'a'] = 'Posters' and (string-length(./datafield[@tag = '336' and @ind1 = '2']/subfield[@code = 'a']) > 0 or string-length(./datafield[@tag = '773']/subfield[@code = 't']) > 0)
epfl.items-import.types.conference-paper-not-in-proceedings = ./datafield[@tag = '336']/subfield[@code = 'a'] = 'Conference Papers' and not(string-length(./datafield[@tag = '336' and @ind1 = '2']/subfield[@code = 'a']) > 0 or string-length(./datafield[@tag = '773']/subfield[@code = 't']) > 0 or string-length(./datafield[@tag = '490']/subfield[@code = 'a']) > 0)
epfl.items-import.types.conference-poster-not-in-proceedings = ./datafield[@tag = '336']/subfield[@code = 'a'] = 'Posters' and not(string-length(./datafield[@tag = '336' and @ind1 = '2']/subfield[@code = 'a']) > 0 or string-length(./datafield[@tag = '773']/subfield[@code = 't']) > 0)
epfl.items-import.types.conference-presentation = ./datafield[@tag = '336' or @tag = '513']/subfield[@code = 'a'] = 'Talks' and string-length(./datafield[@tag = '711' and @ind1 = '2']/subfield[@code = 'a']) > 0
epfl.items-import.types.lecture-talk = ./datafield[@tag = '336' or @tag = '513']/subfield[@code = 'a'] = 'Talks' and not(string-length(./datafield[@tag = '711' and @ind1 = '2']/subfield[@code = 'a']) > 0)
epfl.items-import.types.preprint = ./datafield[@tag = '336']/subfield[@code = 'a'] = 'Journal Articles' and ./datafield[@tag = '973']/subfield[@code = 's'] = 'SUBMITTED'
epfl.items-import.types.working-paper = ./datafield[@tag = '336']/subfield[@code = 'a'] = 'Working Papers'
epfl.items-import.types.report = (./datafield[@tag = '037']/subfield[@code = 'a'] = 'REP_WORK' and ./datafield[@tag = '336']/subfield[@code = 'a'] = 'Reports') and not(./datafield[@tag = '973']/subfield[@code = 'r'] = 'REVIEWED') and not(contains(./datafield[@tag = '245']/subfield[@code = 'a']\\, 'Data Management Plan'))
epfl.items-import.types.research-report = (./datafield[@tag = '037']/subfield[@code = 'a'] = 'REP_WORK' and ./datafield[@tag = '336']/subfield[@code = 'a'] = 'Reports') and ./datafield[@tag = '973']/subfield[@code = 'r'] = 'REVIEWED' and not(contains(./datafield[@tag = '245']/subfield[@code = 'a']\\, 'Data Management Plan'))
epfl.items-import.types.data-management-plan = ./datafield[@tag = '336']/subfield[@code = 'a'] = 'Reports' and contains(./datafield[@tag = '245']/subfield[@code = 'a']\\, 'Data Management Plan')
epfl.items-import.types.standard = ./datafield[@tag = '336']/subfield[@code = 'a'] = 'Standards'
epfl.items-import.types.dataset = ./datafield[@tag = '336']/subfield[@code = 'a'] = 'Datasets'
epfl.items-import.types.doctoral-thesis = ./datafield[@tag = '336']/subfield[@code = 'a'] = 'Theses'
epfl.items-import.types.master-thesis = ./datafield[@tag = '336']/subfield[@code = 'a'] = 'Student Projects' and (starts-with(./datafield[@tag = '980']/subfield[@code = 'b']\\,'MASTER') or starts-with(./datafield[@tag = '980']/subfield[@code = 'b']\\,'Master') or starts-with(./datafield[@tag = '980']/subfield[@code = 'b']\\,'DIPLOMA') or starts-with(./datafield[@tag = '980']/subfield[@code = 'b']\\,'Diploma'))
epfl.items-import.types.semester-or-other-student-projects = ./datafield[@tag = '336']/subfield[@code = 'a'] = 'Student Projects' and (starts-with(./datafield[@tag = '980']/subfield[@code = 'b']\\,'Semester') or ./datafield[@tag = '980']/subfield[@code = 'b'] = 'OTHER' or ./datafield[@tag = '980']/subfield[@code = 'b'] = 'Other' or not(string-length(./datafield[@tag = '980']/subfield[@code = 'b']) > 0))
epfl.items-import.types.patent = ./datafield[@tag = '336']/subfield[@code = 'a'] = 'Patents' and not(contains(./datafield[@tag = '500']/subfield[@code = 'a']\\,'PCT/') or contains(./datafield[@tag = '520']/subfield[@code = 'a']\\,'PCT/') and not(./datafield[@tag = '520']/subfield[@code = 'a'] ='10 vol. pct.'))
epfl.items-import.types.pct-application = ./datafield[@tag = '336']/subfield[@code = 'a'] = 'Patents' and (contains(./datafield[@tag = '500']/subfield[@code = 'a']\\,'PCT/') or contains(./datafield[@tag = '520']/subfield[@code = 'a']\\,'PCT/') and not(./datafield[@tag = '520']/subfield[@code = 'a'] ='10 vol. pct.'))
epfl.items-import.types.design = ./datafield[@tag = '336']/subfield[@code = 'a'] = 'Physical Objects'
epfl.items-import.types.teaching-material = ./datafield[@tag = '336']/subfield[@code = 'a'] = 'Teaching Resources'
epfl.items-import.types.magazine = ./datafield[@tag = '336']/subfield[@code = 'a'] = 'Media' and string-length(./datafield[@tag = '773']/subfield[@code = 't']) > 0
epfl.items-import.types.other = ./datafield[@tag = '336']/subfield[@code = 'a'] = 'Media' and not(string-length(./datafield[@tag = '773']/subfield[@code = 't']) > 0)

epfl.items-import.collections.journal-article = 
epfl.items-import.collections.research-article = 
epfl.items-import.collections.review-article = 
epfl.items-import.collections.editorial =
epfl.items-import.collections.book-monograph = 
epfl.items-import.collections.book-part = 
epfl.items-import.collections.conference-proceedings = 
epfl.items-import.collections.conference-paper = 
epfl.items-import.collections.conference-poster = 
epfl.items-import.collections.conference-paper-not-in-proceedings = 
epfl.items-import.collections.conference-poster-not-in-proceedings = 
epfl.items-import.collections.conference-presentation = 
epfl.items-import.collections.lecture-talk = 
epfl.items-import.collections.preprint = 
epfl.items-import.collections.working-paper = 
epfl.items-import.collections.report = 
epfl.items-import.collections.research-report = 
epfl.items-import.collections.data-management-plan = 
epfl.items-import.collections.standard = 
epfl.items-import.collections.dataset = 
epfl.items-import.collections.doctoral-thesis = 
epfl.items-import.collections.master-thesis = 
epfl.items-import.collections.semester-or-other-student-projects = 
epfl.items-import.collections.patent = 
epfl.items-import.collections.pct-application = 
epfl.items-import.collections.design = 
epfl.items-import.collections.teaching-material = 
epfl.items-import.collections.magazine = 
epfl.items-import.collections.other =

epfl.items-import.vocabulary.journal-article = article-coar-types:c_6501
epfl.items-import.vocabulary.research-article = article-coar-types:c_2df8fbb1
epfl.items-import.vocabulary.review-article = article-coar-types:c_dcae04bc
epfl.items-import.vocabulary.editorial = article-coar-types:c_b239
epfl.items-import.vocabulary.book-monograph = book-coar-types:c_2f33
epfl.items-import.vocabulary.book-part = book-coar-types:c_3248
epfl.items-import.vocabulary.conference-proceedings = conference-coar-types:c_f744
epfl.items-import.vocabulary.conference-paper = conference-coar-types:c_5794
epfl.items-import.vocabulary.conference-poster = conference-coar-types:c_6670
epfl.items-import.vocabulary.conference-paper-not-in-proceedings = conference-coar-types:c_18cp
epfl.items-import.vocabulary.conference-poster-not-in-proceedings = conference-coar-types:c_18co
epfl.items-import.vocabulary.conference-presentation = conference-coar-types:R60J-J5BD
epfl.items-import.vocabulary.lecture-talk = conference-coar-types:c_8544
epfl.items-import.vocabulary.preprint = preprint-coar-types:c_816b
epfl.items-import.vocabulary.working-paper = preprint-coar-types:c_8042
epfl.items-import.vocabulary.report = report-coar-types:c_93fc
epfl.items-import.vocabulary.research-report = report-coar-types:c_18ws
epfl.items-import.vocabulary.data-management-plan = report-coar-types:c_ab20
epfl.items-import.vocabulary.standard = report-coar-types:c_71bd
epfl.items-import.vocabulary.dataset = dataset-coar-types:c_ddb1
epfl.items-import.vocabulary.doctoral-thesis = thesis-coar-types:c_db06
epfl.items-import.vocabulary.master-thesis = student-coar-types:c_bdcc
epfl.items-import.vocabulary.semester-or-other-student-projects = student-coar-types:c_18op
epfl.items-import.vocabulary.patent = patent-coar-types:c_15cd
epfl.items-import.vocabulary.pct-application = patent-coar-types:SB3Y-W4EH
epfl.items-import.vocabulary.design = design-coar-types:542X-3S04
epfl.items-import.vocabulary.teaching-material = teaching-coar-types:c_e059
epfl.items-import.vocabulary.magazine = media-coar-types:c_2cd9
epfl.items-import.vocabulary.other = publication-coar-types:c_1843

epfl.items-import.container-types = book-monograph
epfl.items-import.container-types = conference-proceedings 
epfl.items-import.container-types = report
epfl.items-import.container-types = standard

epfl.items-import.is-part-of.series.types = book-monograph 
epfl.items-import.is-part-of.series.types = book-part 
epfl.items-import.is-part-of.series.types = conference-proceedings 
epfl.items-import.is-part-of.series.types = conference-paper

epfl.items-import.journal-or-is-part-of.types = journal-article 
epfl.items-import.journal-or-is-part-of.types = research-article 
epfl.items-import.journal-or-is-part-of.types = review-article 
epfl.items-import.journal-or-is-part-of.types = editorial
epfl.items-import.journal-or-is-part-of.types = preprint

epfl.items-import.source-aws.bucket =
epfl.items-import.source-aws.region =
epfl.items-import.source-aws.key = 
epfl.items-import.source-aws.secret-key = 

epfl.items-import.upload-aws.url =
epfl.items-import.upload-aws.bucket =
epfl.items-import.upload-aws.region =
epfl.items-import.upload-aws.key = 
epfl.items-import.upload-aws.secret-key = 
epfl.items-import.upload-aws.directory =

epfl.items-import.creation-date-aws.bucket =
epfl.items-import.creation-date-aws.directory =
epfl.items-import.creation-date-aws.field =

epfl.items-import.creation-date.fields = dc.date.created
epfl.items-import.creation-date.fields = dc.date.accessioned

epfl.items-import.update.metadata-to-keep = dc.description.provenance
epfl.items-import.update.metadata-to-keep = dc.identifier.uri
epfl.items-import.update.metadata-to-keep = dc.date.available
epfl.items-import.update.metadata-to-keep = dspace.entity.type

epfl.items-import.creation-date.dc-date-created.format = yyyy-MM-dd

epfl.default-submitter.email = infoscience@epfl.ch

############################
#### Head EPFL OrgUnit #####
############################

epfl.head-orgunit.uuid = 3ce22690-09ad-4e94-8d58-9d03d24ac3dc