##### EPFL Configuration #####

### OrgUnit Import ####
epfl.orgunit-import.active-orgunit.acronym-header = unit_acronym
epfl.orgunit-import.inactive-orgunit.acronym-header = units_acro

epfl.orgunit-import.update.metadata-to-keep = cris.customurl
epfl.orgunit-import.update.metadata-to-keep = cris.customurl.old
epfl.orgunit-import.update.metadata-to-keep = dc.date.accessioned
epfl.orgunit-import.update.metadata-to-keep = dc.description.provenance
epfl.orgunit-import.update.metadata-to-keep = dc.identifier.uri
epfl.orgunit-import.update.metadata-to-keep = dc.date.available
epfl.orgunit-import.update.metadata-to-keep = dspace.entity.type

epfl.orgunit-import.metadata-fields.unit_acronym = oairecerif.acronym
epfl.orgunit-import.metadata-fields.units_acro = oairecerif.acronym

epfl.orgunit-import.metadata-fields.infoscience_auth_num = cris.legacyId
epfl.orgunit-import.metadata-fields.infoscience_unit_code = epfl.unit.infoscienceCode
epfl.orgunit-import.metadata-fields.unit_code = epfl.unit.code
epfl.orgunit-import.metadata-fields.unit_name = dc.title
epfl.orgunit-import.metadata-fields.units_acro = oairecerif.acronym

epfl.orgunit-import.metadata-fields.unit_url = oairecerif.identifier.url

epfl.orgunit-import.metadata-fields.unit_parent_code = organization.parentOrganization
epfl.orgunit-import.metadata-fields.unit_parent_acronym = -

epfl.orgunit-import.metadata-fields.head_sciperid = crisou.director
epfl.orgunit-import.metadata-fields.head_firstname =  -
epfl.orgunit-import.metadata-fields.head_lastname =   -

epfl.orgunit-import.metadata-fields.unit_status = epfl.orgUnit.status
epfl.orgunit-import.metadata-fields.units_type = dc.type