##############################
##### EPFL Configuration #####
##############################

epfl.orgunit-import.api-url = https://search-api.epfl.ch/api/unit
epfl.person-import.api-url = https://search-api.epfl.ch/api/ldap

epfl.orgunit-import.metadata-field-language.english = en
epfl.orgunit-import.metadata-field-language.french = fr

#######################
### OrgUnit Import ####
#######################

epfl.orgunit-import.active-orgunit.acronym-header = unit_acronym
epfl.orgunit-import.inactive-orgunit.acronym-header = units_acro

epfl.orgunit-import.active-metadata-field = epfl.orgUnit.active

### Mapping between inactive orgunit headers and metadata fields
epfl.orgunit-import.inactive-orgunit.metadata.unit_acro = oairecerif.acronym
epfl.orgunit-import.inactive-orgunit.metadata.infoscience_auth_num = cris.legacyId
epfl.orgunit-import.inactive-orgunit.metadata.infoscience_unit_code = epfl.unit.infoscienceCode
epfl.orgunit-import.inactive-orgunit.metadata.unit_code = epfl.unit.code
epfl.orgunit-import.inactive-orgunit.metadata.unit_name = dc.title
epfl.orgunit-import.inactive-orgunit.metadata.unit_url = oairecerif.identifier.url
epfl.orgunit-import.inactive-orgunit.metadata.unit_status = epfl.orgUnit.status
epfl.orgunit-import.inactive-orgunit.metadata.units_type = dc.type

### Mapping between head of inactive orgunit and metadata field value/authority
epfl.orgunit-import.inactive-orgunit.head.metadata = crisou.director
epfl.orgunit-import.inactive-orgunit.head.authority = will be generated::SCIPER-ID::
epfl.orgunit-import.inactive-orgunit.head.sciper-id = head_sciperid
epfl.orgunit-import.inactive-orgunit.head.first-name = head_firstname
epfl.orgunit-import.inactive-orgunit.head.last-name = head_lastname

### Mapping between parent orgunit of inactive orgunit and metadata field value/authority
epfl.orgunit-import.inactive-orgunit.parent-orgunit.metadata = organization.parentOrganization
epfl.orgunit-import.inactive-orgunit.parent-orgunit.authority = ACRONYM::
epfl.orgunit-import.inactive-orgunit.parent-orgunit.acronym = unit_parent_acronym

### Mapping between inactive orgunit headers and metadata fields
epfl.orgunit-import.active-orgunit.metadata.infoscience_auth_num = cris.legacyId
epfl.orgunit-import.active-orgunit.metadata.infoscience_unit_code = epfl.unit.infoscienceCode

## Mapping between active orgunits attributes incoming from API and metadata fields
epfl.orgunit-import.api.metadata-field.name = dc.title
epfl.orgunit-import.api.metadata-field.acronym = oairecerif.acronym
epfl.orgunit-import.api.metadata-field.code = epfl.unit.code
epfl.orgunit-import.api.metadata-field.level = epfl.orgUnit.level
epfl.orgunit-import.api.metadata-field.head = crisou.director
epfl.orgunit-import.api.metadata-field.head.authority = will be generated::SCIPER-ID::
epfl.orgunit-import.api.metadata-field.parent-orgunit = organization.parentOrganization
epfl.orgunit-import.api.metadata-field.parent-orgunit.authority = ACRONYM::

######################
### Person Import ####
######################

epfl.person-import.api.metadata-field.name = dc.title
epfl.person-import.api.metadata-field.first-name = person.givenName
epfl.person-import.api.metadata-field.last-name = person.familyName
epfl.person-import.api.metadata-field.email = person.email
epfl.person-import.api.metadata-field.affiliation.position = oairecerif.affiliation.role
epfl.person-import.api.metadata-field.affiliation.orgunit = oairecerif.person.affiliation
epfl.person-import.api.metadata-field.affiliation.main = person.affiliation.name
epfl.person-import.api.metadata-field.affiliation.authority = ACRONYM::
epfl.person-import.api.metadata-field.affiliation.start = oairecerif.affiliation.startDate
epfl.person-import.api.metadata-field.affiliation.end = oairecerif.affiliation.endDate
epfl.person-import.api.metadata-field.url = oairecerif.identifier.url
epfl.person-import.api.metadata-field.active = epfl.sciper.active
epfl.person-import.api.metadata-field.sciper = epfl.sciperId

epfl.authority.prefix = will be generated::SCIPER-ID::
epfl.acronym.prefix = ::will be generated::ACRONYM::

#############################
#### Publication Import #####
#############################

epfl.items-import.mapping-configuration.path = ${dspace.dir}/config/crosswalks/epfl/epfl-items-mapping.xml

epfl.items-import.aws.bucket = 4s-assetstore-epfl-upload
epfl.items-import.aws.region = eu-west-1
epfl.items-import.aws.key = 
epfl.items-import.aws.secret-key = 

