#---------------------------------------------------------------#
#------------- EXTERNAL PROVIDER CONFIGURATIONS ----------------#
#---------------------------------------------------------------#
#  Configuration properties used solely by external providers   #
#  as Scopus, Pubmed, CiNii and ect.                            #
#---------------------------------------------------------------#


#################################################################
#----------------------   CrossRef   ---------------------------#
#---------------------------------------------------------------#
crossref.url = https://api.crossref.org/works
#################################################################