#---------------------------------------------------------------#
#------------- EXTERNAL PROVIDER CONFIGURATIONS ----------------#
#---------------------------------------------------------------#
#  Configuration properties used solely by external providers   #
#  as Scopus, Pubmed, CiNii and ect.                            #
#---------------------------------------------------------------#


#################################################################
#----------------------   CrossRef   ---------------------------#
#---------------------------------------------------------------#
crossref.url = https://api.crossref.org/works
#################################################################
#------------------- Web of Science (WOS) ----------------------#
#---------------------------------------------------------------#

# follow link to get apikey: https://developer.clarivate.com/apis/wos
wos.apiKey =
wos.url = https://wos-api.clarivate.com/api/wos/id/
wos.url.search = https://wos-api.clarivate.com/api/wos/?databaseId=WOS&lang=en&usrQuery=
##################################################################