#---------------------------------------------------------------#
#-----------------UNPAYWALL API CONFIGURATIONS------------------#
#---------------------------------------------------------------#
# Configuration properties used by the UnpaywallServiceImpl     #
#---------------------------------------------------------------#

# The unpaywall api url.
unpaywall.enabled=true

# The unpaywall api url.
unpaywall.url=https://api.unpaywall.org/v2/

# Email used to access unpaywall api.
unpaywall.email=

# Metadata used as DOI to access unpaywall api resource.
unpaywall.metadata.doi=dc.identifier.doi

epfl.unpaywall.metadata.oaire_licenseCondition.cc-by = CC BY
epfl.unpaywall.metadata.oaire_licenseCondition.cc-by-sa = CC BY-SA
epfl.unpaywall.metadata.oaire_licenseCondition.cc-by-nd = CC BY-ND
epfl.unpaywall.metadata.oaire_licenseCondition.cc-by-nc = CC BY-NC
epfl.unpaywall.metadata.oaire_licenseCondition.cc-by-nc-sa = CC BY-NC-SA
epfl.unpaywall.metadata.oaire_licenseCondition.cc-by-nc-nd = CC BY-NC-ND
epfl.unpaywall.metadata.oaire_licenseCondition.cc-0 = CC0
epfl.unpaywall.metadata.oaire_licenseCondition.pdm = PDM

epfl.unpaywall.metadata.oaire_version.submittedVersion = http://purl.org/coar/version/c_71e4c1898caa6e32
epfl.unpaywall.metadata.oaire_version.acceptedVersion = http://purl.org/coar/version/c_ab4af688f83e57aa
epfl.unpaywall.metadata.oaire_version.publishedVersion = http://purl.org/coar/version/c_970fb48d4fbd8a85