#---------------------------------------------------------------#
#-----------------UNPAYWALL API CONFIGURATIONS------------------#
#---------------------------------------------------------------#
# Configuration properties used by the UnpaywallServiceImpl     #
#---------------------------------------------------------------#

# The unpaywall api url.
unpaywall.enabled=true

# The unpaywall api url.
unpaywall.url=https://api.unpaywall.org/v2/

# Email used to access unpaywall api.
unpaywall.email=

# Metadata used as DOI to access unpaywall api resource.
unpaywall.metadata.doi=dc.identifier.doi
